GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TABLE [BSAVING_ACC_INTEREST] ALTER COLUMN [CustomerName]  [nvarchar](150) NULL;
ALTER TABLE [BSAVING_ACC_ARREAR] ALTER COLUMN [CustomerName]  [nvarchar](150) NULL;
ALTER TABLE [BSAVING_ACC_PERIODIC] ALTER COLUMN [CustomerName]  [nvarchar](150) NULL;
